/* Font : Inter */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:wght@450;600&family=Noto+Serif:wght@400;700&family=Quicksand:wght@300&family=Tiro+Devanagari+Sanskrit&display=swap');
/* MPlus */
 @import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:wght@100;600&family=M+PLUS+Rounded+1c:wght@700&family=Noto+Serif:wght@400;700&family=Quicksand:wght@300&family=Roboto&family=Tiro+Devanagari+Sanskrit&display=swap');

* {
    font-family: Inter;
    font-weight: normal;
}

/* APPOINTMENT_INDEX CSS */

.appointment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #D9D9D957;
    margin: 3rem auto;
    width: 60.625rem;
    /* border: 1px solid green; */

    padding: 60px;
}

.main-header {
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    width: 100%;
    align-items: center;
}

.arrow-design {
    align-self: flex-start;
    /* border: 1px solid; */
    font-size: 45px !important;
}

.header-title{
    /* border: 1px solid; */
    /* font-family: Inter;
    font-weight: 600; */
    font-size: 32px;
    font-weight: bold;
    flex: 1;
}

.progress-indicator {
    /* border: 1px solid; */
    color: #0000ff;
}

.form-container {
    /* border: 1px solid; */
    padding: 3.125rem 5rem;
    width: 100%;
    display: flex;
    /* align-content: space-around; */
    flex-direction: column;
    vertical-align: top;
    /* background-color: red; */
    /* padding: 50px; */
    
    /* border: 1px solid green; */
}

.form-footer {
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: flex-end;
}

.button-class {
    padding: 12px 50px;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
}

/* CLIENT TYPE CSS */

.form-groups {
    /* margin-top: 1rem; */
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* align-items: center; */
    /* border: 1px solid; */
    width: 100%;
    /* justify-content: spa; */
    flex-wrap: wrap;
    /* flex-direction: row; */
}

.rounded-border {
    width: 35%;
    /* justify-content: center; */
    padding: 3px 3px 3px 20px;
    border-radius: 3px;
    border: 1px solid grey;
}

.location-div {
    /* border: 1px solid; */
    margin-top: 2.125rem;
    /* border: solid; */
    /* flex-direction: n; */
    margin-bottom: 2.125rem;
}

.label-div {
    /* border: 1px solid red; */
    width: 100%;
}

.input-location {
    margin-top: 1rem;
    width: 97%;
}

/* CLIENT AVAILABILITY CSS */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    /* border: 1px solid pink; */
    justify-content: space-between;
    width: 100%;
}

.visit-form{
    width: 40%;
    /* flex-grow: 0; */
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
}

.visit-form1 {
    width: 55%;
    /* border: 1px solid green; */
}

.span-margin0 {
    /* margin-bottom: 0.5rem; */
    margin-bottom: 0.5rem;

}

.span-margin1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.calendar-dimension {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    width: 100%;
}
.calendar-custom {
    /* height: 100%; */
    margin-top: 0.5rem;
    color: blue;
    background-color: #82B7DC;;
}

/* CLIENT INFO CSS */

.appointment-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.appointment-info {
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.client-info {
    width: 50%;
    /* padding: 1rem; */
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
}

.inner-container {
    box-sizing: content-box;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    /* width: 50%; */
    /* padding: 1rem; */
    /* border: 1px solid; */
    /* width: 100%; */
}

.input-width {
    width: 100%;
}

.comment-width {
    width: 100%;
}

.custom-label {
    width: 47%;
}

/* CLIENT PAYMENT CSS */

.payment-div {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.button-margin {
    width: 40%;
    margin-top: 4rem;
}

.payment-size {
    text-align: center;
    /* border: 1px solid; */
    width: 30%;
}

/* NON DOT CSS */

.label-modified {
    /* font-family: Inter;
    font-weight: normal; */
    font-size: 16px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 0.25rem;
}

/* p {
    margin: 0px;
    padding: 0px;
    padding: 0;
    border: solid;
    margin: 0;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
} */

/* option {
    font-family: Roboto;
    font-size: 16px;
} */



/* select {
    padding: 1em;
    border: 1px solid green;
    height: 3rem;
} */

/* select :focus > option :checked {
    background-color: #C0DBED !important;
} */

/* COMMENTED CSS */

/* .availability-form{
    display: flex;
    flex-direction: row;
} */

/* .new-client {
    padding: 5px;
}

.returning-client {
    padding: 5px;
    border-radius: 12px;
    border: 1px solid;
} */

/* .testing{
    width: 100%;
} */

/* input {
    margin-right: 0.5rem;
    width: 100%;
    margin: 0;
} */

/* b {
    border: 1px solid;
} */