/* Font : Inter */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:wght@450;600&family=Noto+Serif:wght@400;700&family=Quicksand:wght@300&family=Tiro+Devanagari+Sanskrit&display=swap');
/* MPlus */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:wght@100;600&family=M+PLUS+Rounded+1c:wght@700&family=Noto+Serif:wght@400;700&family=Quicksand:wght@300&family=Roboto&family=Tiro+Devanagari+Sanskrit&display=swap');
/* Roboto Font API */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:wght@450;600&family=Noto+Serif:wght@400;700&family=Quicksand:wght@300&family=Roboto&family=Tiro+Devanagari+Sanskrit&display=swap');





/* GENERAL PROPERTIES */

.spn-block{
    display: block;
}

.flx-row{
    display: flex;
    flex-direction: row;
}

.flx-col{
    display: flex;
    flex-direction: column;
}

.ml-0-5{
    margin-left: 0.5rem;
}


/* SPECIFIC PROPERTIES */

.comm-wrp{
    background: #D9D9D9;
    height: 20rem;
    margin-bottom: 1rem;
}


/* COMMENT BOX */


.comment-sec{
    margin-top: 3.88rem;
}

.comm-container{
    border-radius: 0.375rem;
    background: rgba(0, 0, 0, 0.25);
    width: 14rem;
    padding: 1rem;

    margin-right: 2rem
}

.button-line{
    width: 100%;
    background: white;
}

.comm-id{
    vertical-align:baseline;
}

.comm-id-name{
    display: block;
    width: 6rem;
    overflow: hidden;

    color: #000;

    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;

    padding-top:0.5rem;
    margin-left: 0.50rem;
}

.comment-content{
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 1.4rem;

    height: 4.5rem;
}

.rating-sample{
    padding-top:0.3rem;
    margin-left: 0.50rem;
}


.log-pv{
    display: flex;
    flex-direction: column;
    float: left;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

.hd-tag{
    color: #000;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
}

.sub-head{
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}